.git
.github
.husky
node_modules
vendor
public/build
public/hot
storage/*.key
storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
specs
docs
.env
.env.*
*.md
playwright.config.js
phpunit.xml
phpstan.neon
phpcs.xml
phpmd.xml
pint.json
eslint.config.js
commitlint.config.js
